@model Ehpad.ORM.Vaccinate

@{
    ViewData["Title"] = "Suppression";
}

<h1>Suppression</h1>

<h3>Etes-vous certain de supprimer cette injection ?</h3>
<div>
    <h4>Vaccinate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecallDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecallDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.Firstname)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaccine.Brand)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour</a>
    </form>
</div>
